/* .otp-input-field{
    width: 1rem;
    height: 40px;
    margin: 0 0.5rem;
    font-size: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: center;
    outline: none;
    background-color: red;
} */

.otp-input-field-container{
    height: 40px;
    width: 45px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #a19f9f;
    /* background-color: red; */
}
.otp-field-text{
    border: 0px;
    outline: 0px;
}

.validate-button-green{
    background-color: green;
}